SUPABASE_PROJECT_ID=fapstqopsmyjchpretir
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=https://fapstqopsmyjchpretir.supabase.co
VITE_SUPABASE_PROJECT_ID=fapstqopsmyjchpretir
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=https://fapstqopsmyjchpretir.supabase.co